//Font
$noto:         'Noto Sans SC', sans-serif;
$roboto:       'Roboto Condensed', sans-serif;
$inter:        'Inter', sans-serif;

//Main color
$black:       #101116;
$gray:        #1F222B;
$gray-light:  #888B9A;
$red:         #D64D5B;
$yellow:      #ED983B;
$green:       #64A354;    
$blue:        #5176CF;
$white:       #FFFFFF;

$easing: cubic-bezier(0.2, 0.1, 0.2, 1);